.basket {
    &__title {
        margin-bottom: 20px;
        color: #282828;
        @include tablet-min {
            font-size: 24px;
        }
    }
    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
        @include tablet-min {
            flex-direction: column-reverse;
        }
    }
    &__form {
        display: none;
        width: 100%;
        max-width: 500px;
    }
    &__form-title {
        font-size: 20px;
        margin: 10px 0px 5px;
        padding: 10px 15px;
        color: #555;
        background-color: #dbdbdb70;
    }
    &__form-inner {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
        @include phone {
            flex-direction: column;
            align-items: flex-start;
        }
        input {
            padding: 8px 20px;
            font-size: 18px;
            width: 100%;
            color: #727272;
            background-color: #ece8e8;
            border: 1px solid rgb(194, 192, 192);
            &:focus {
                background-color: #fafafa;
                border: 1px solid rgb(126, 126, 126);
            }
        }
    }
    &__form-radio {
        flex: 1 1 auto;
    }
    &__real-radio {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    &__custome-radio {
        cursor: pointer;
        position: relative;
        display: inline-block;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #7e9bbd;
        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 8px;
            height: 8px;
            background-color: #ffc10b;
            border-radius: 50%;
            transition: 0.2s ease-in;
        }
    }
    &__real-radio:checked + &__custome-radio::before {
        transform: translate(-50%, -50%) scale(1);
    }
    &__form-lable {
        width: 160px;
        font-size: 18px;
        color: #666;
        @include phone {
            width: 100%;
            font-size: 16px;
        }
        &.required-field::after {
            content: "*";
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 0.35rem;
        }
    }
    &__form-textarea {
        padding: 10px;
        font-size: 18px;
        width: 100%;
        height: 130px;
        color: #727272;
        overflow: auto;
        resize: vertical;
        background-clip: padding-box;
        background-color: #ece8e8;
        border: 1px solid rgb(194, 192, 192);
        &:focus {
            background-color: #fafafa;
            border: 1px solid rgb(126, 126, 126);
        }
    }
    &__form-button {
        padding: 16px 20px;
        font-size: 26px;
        width: 100%;
        max-width: 320px;
        color: $second-color;
        background-color: #ffc10b;
        border-radius: 36px;
        text-align: center;
        transition: background-color 0.2s linear;
        &:hover {
            background-color: darken(#ffc10b, 25%);
        }
        &:focus {
            background-color: #ffc10b;
        }
    }
    &__products {
        position: sticky;
        top: 90px;
        width: 100%;
        max-width: 350px;
        padding: 14px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background-color: #fff;
        @include tablet-min {
            position: static;
        }
    }
    &__products-inner {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    &__products-image {
        width: 100%;
        max-width: 120px;
        height: auto;
    }
    &__products-content {
        width: 100%;
    }
    &__products-name {
        font-size: 18px;
        color: #666;
        @include phone {
            font-size: 16px;
        }
    }
    &__products-info {
        margin: 2px 0px 8px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
    }
    &__products-grams {
        font-size: 16px;
        color: rgba(102, 102, 102, 0.5);
    }
    &__products-price {
        position: relative;
        font-size: 16px;
        color: #666;
        &::after {
            position: absolute;
            content: "";
            top: 3px;
            right: -15px;
            width: 13px;
            height: 14px;
            background: url("@img/icons/icons.svg#UAH") 50% 50% / cover no-repeat;
        }
    }
    &__products-counter {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #282828;
        border-radius: 10px;
        background-color: rgba(102, 102, 102, 0.2);
    }
    &__products-control {
        padding: 0 15px;
        font-size: inherit;
        color: inherit;
        cursor: pointer;
        background-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    &__products-current {
        font-size: 20px;
        color: inherit;
    }
    &__products-empty {
        font-size: 20px;
        letter-spacing: 0.04em;
        text-align: center;
        color: #282828;
    }
    &__shipping-inner {
        display: none;
    }
    hr {
        margin-bottom: 15px;
        width: 100%;
        height: 1px;
        background-color: rgba(102, 102, 102, 0.5);
    }
    &__products-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
    &__products-shipping {
        margin-bottom: 10px;
        font-size: 20px;
        letter-spacing: 0.04em;
        color: #282828;
        @include phone {
            font-size: 18px;
        }
    }
    &__shipping {
        font-size: 18px;
        letter-spacing: 0.04em;
        color: red;
        @include phone {
            font-size: 16px;
        }
    }
    &__shipping-free {
        color: green;
    }
    &__products-result {
        font-size: 20px;
        letter-spacing: 0.04em;
        color: #282828;
        @include phone {
            font-size: 18px;
        }
    }
    &__result {
        position: relative;
        font-size: 18px;
        letter-spacing: 0.04em;
        color: #28282899;
        @include phone {
            font-size: 16px;
        }
        &::after {
            position: absolute;
            content: "грн";
            color: inherit;
            bottom: 0;
            right: -30px;
        }
    }
}